<h1>User: <%= first_name @user %></h1>

<h2>Properties</h2>
<table>
    <tr>
        <td><b>Name</b></td>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <td><b>Passwd Hash</b></td>
        <td><%= @user.password_hash %></td>
    </tr>
</table>